@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_VisitorLayout.cshtml";
}

<div class="nav-bg">
</div>

<div class="introduction-container faq-introduction">
    <div class="introduction-content standard-container">
        <div class="introduction-text-container">
            <h1 class="introduction-text-title large-text"><span>FREQUENTLY ASKED QUESTIONS</span></h1>
            <p class="introduction-text-p">
                Welcome to the FAQs Tab, your go-to resource for navigating TicketFlare with ease. Here, we address common queries to ensure a seamless experience for organizers and attendees alike. From event creation to ticketing and feedback, find comprehensive answers that guide you through every step. If you have questions about registration, security measures, or maximizing the potential of TicketFlare for your event, you're in the right place. Explore our FAQs to empower yourself with the knowledge needed to make the most out of your event management journey with TicketFlare.
            </p>
        </div>
    </div>
</div>

<div class="faq-container standard-container">
    <div class="column">
        <h3>STUDENTS</h3>
        <div class="faq">
            <div>
                <h4><span>1</span>How do I register for an event?</h4>
                <p>To register for an event, simply navigate to the event page on our website, click on the "Register" button, and fill in the details required to complete the registration process.</p>
            </div>
            <div>
                <h4><span>2</span>What payment methods are accepted for purchasing event tickets?</h4>
                <p>We accept online payment like GCash, Paymaya, and any other banks. We will provide link in every event for you to paste the proof of payment.</p>
            </div>
            <div>
                <h4><span>3</span>How can I get a refund for my event ticket?</h4>
                <p>You may communicate this matter on the organization host of the event.</p>
            </div>
            <div>
                <h4><span>4</span>Can I transfer my ticket to someone else if I can't attend the event?</h4>
                <p>No, ticket transfers are not allowed to ensure the security and accuracy of attendee information. We appreciate your understanding.</p>
            </div>
            <div>

                <h4><span>5</span>How can I provide feedback about the event?</h4>
                <p>After the event, we will generate a link for you to submit your feedback.</p>
            </div>
        </div>
    </div>
    <div class="column">
        <h3>ORGANIZATION</h3>
        <div class="faq">
            <div>
                <h4><span>1</span>How do I create an event on the platform?</h4>
                <p>Log in to your account, click "Create Event," and follow the steps to set up your event details, including date, time, and venue.</p>
            </div>
            <div>
                <h4><span>2</span>Can I modify the registration details of the event after completing the registration?</h4>
                <p>Yes, you can modify your registration details. Log in to your account, go to the "My Events" section, find the event you're registered for, and click on the "Edit Registration" option to make changes.</p>
            </div>
            <div>
                <h4><span>3</span>How do I manage ticket sales?</h4>
                <p>You will see the student who registered in the Attendees tab under Event Log Webpage.</p>
            </div>
            <div>
                <h4><span>4</span>Can I communicate with attendees before and after the event?</h4>
                <p>You will see the student who registered in the Attendees tab under Event Log Webpage.</p>
            </div>
        </div>
    </div>
</div>