@{


}
<div class="event-container standard-container">

    <div class="sort-container">
        <div class="month-dropdown-container pill-box">
            <select id="month-dropdown">
                <option value="" disabled selected hidden>Month</option>
                <option value="All">All</option>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
            </select>
        </div>
        <div class="event-nature-dropdown-container pill-box">
            <select id="event-nature-dropdown">
                <option value="" disabled selected hidden>Event Nature</option>
                <option value="All">All</option>
                <option value="January">Curricular</option>
                <option value="February">Co-curricular </option>
                <option value="March">Non-curricular </option>
            </select>
        </div>
    </div>

    <div class="event-gallery-card-container">
        <div class="event-card">
            <img src="~/images/events/trick-or-treat-2022.png" alt="">
            <div class="event-card-details">
                <div class="event-date">
                    <p class="event-month">OCT</p>
                    <p class="event-day">29</p>
                </div>
                <div class="event-key-info">
                    <h3>TRICK OR TREAT 2022</h3>
                    <p class="xs-text"><span class="tangerine-text">Host:</span> CICT Student Government</p>
                    <p class="xs-text"><span class="tangerine-text">Time:</span> 1:00 PM - 6:00 PM</p>
                    <p class="xs-text"><span class="tangerine-text">Venue:</span> CICT Building</p>
                </div>
            </div>
        </div>
     
    </div>

</div>