@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-bg">
</div>

<div class="introduction-container about-introduction">
    <div class="introduction-content standard-container">
        <div class="introduction-text-container">
            <h1 class="introduction-text-title large-text"><span>ABOUT TICKETFLARE</span></h1>
            <p class="introduction-text-p">
                <b>Welcome to the heart of your ticketing experience!</b>
                <br>
                Here, we unfold the essence of TicketFlare, your go-to solution for efficient event ticketing. TicketFlare is not just a platform; it is a dynamic catalyst designed to transform the way you engage with events. From hassle-free ticket creation to effortless distribution, TicketFlare simplifies the entire ticketing process. Dive into a world where organizers can craft tickets with ease, attendees can access and manage their event registration effortlessly, and the entire event experience is elevated by the simplicity and efficiency of TicketFlare.
            </p>
        </div>
    </div>
</div>



<div class="standard-container about">

    <div class="centralized-container">
        <div class="head-title-container">
            <h1 class="head-title"><span>Centralized Event Hub</span></h1>
        </div>

        <div class="centralized-content">
            <div class="image-container">
                <img src="~/images/about/puzzle.png">
            </div>

            <div class="text-list-container">
                <div class="text-one">
                    <div class="text-title-container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <rect x="5" y="10" width="30" height="25" rx="2" stroke="white" />
                            <path d="M5 14C5 12.1144 5 11.1716 5.58579 10.5858C6.17157 10 7.11438 10 9 10H31C32.8856 10 33.8284 10 34.4142 10.5858C35 11.1716 35 12.1144 35 14V16.6667H5V14Z" fill="white" />
                            <path d="M11.6667 5L11.6667 10" stroke="white" stroke-linecap="round" />
                            <path d="M28.3333 5L28.3333 10" stroke="white" stroke-linecap="round" />
                        </svg>
                        <span class="text-title">Scheduling System</span>
                    </div>
                    <div class="text-desc-container">
                        <p class="text-desc">Experience event planning like never before with TicketFlare's efficient scheduling system. Enjoy simplified processes that make organizing and coordinating multiple events a breeze, all while preventing scheduling conflicts. It's your key to a managed and conflict-free event calendar.</p>
                    </div>
                </div> <!--  end of text-one container -->

                <div class="text-two">
                    <div class="text-title-container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <path d="M25.8333 8.3335C28.174 8.3335 29.3444 8.3335 30.1852 8.89526C30.5491 9.13846 30.8616 9.45096 31.1048 9.81493C31.6666 10.6557 31.6666 11.8261 31.6666 14.1668V30.0002C31.6666 33.1429 31.6666 34.7142 30.6903 35.6905C29.714 36.6668 28.1426 36.6668 24.9999 36.6668H14.9999C11.8572 36.6668 10.2859 36.6668 9.30956 35.6905C8.33325 34.7142 8.33325 33.1429 8.33325 30.0002V14.1668C8.33325 11.8261 8.33325 10.6557 8.89502 9.81493C9.13822 9.45096 9.45072 9.13846 9.81468 8.89526C10.6554 8.3335 11.8258 8.3335 14.1666 8.3335" stroke="#FEFEFE" stroke-width="2" />
                            <path d="M15 8.33333C15 6.49238 16.4924 5 18.3333 5H21.6667C23.5076 5 25 6.49238 25 8.33333C25 10.1743 23.5076 11.6667 21.6667 11.6667H18.3333C16.4924 11.6667 15 10.1743 15 8.33333Z" stroke="#FEFEFE" stroke-width="2" />
                            <path d="M15 20L25 20" stroke="#FEFEFE" stroke-width="2" stroke-linecap="round" />
                            <path d="M15 26.6665L21.6667 26.6665" stroke="#FEFEFE" stroke-width="2" stroke-linecap="round" />
                        </svg>
                        <span class="text-title">Registration System</span>
                    </div>
                    <div class="text-desc-container">
                        <p class="text-desc">
                            Bid farewell to disorganized participant lists. TicketFlare introduces a unified and organized event registration system. Easily manage participant data for easy communication and future engagement, creating a hassle-free registration experience for both organizers and attendees.

                        </p>
                    </div>
                </div> <!--  end of text-two container -->

                <div class="text-three">
                    <div class="text-title-container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <path d="M32.8791 34.0783C32.1194 31.952 30.4455 30.0731 28.1169 28.733C25.7883 27.3929 22.9352 26.6665 20.0001 26.6665C17.065 26.6665 14.2119 27.3929 11.8833 28.733C9.55467 30.0731 7.88074 31.952 7.12107 34.0783" stroke="white" stroke-width="2" stroke-linecap="round" />
                            <circle cx="19.9999" cy="13.3332" r="6.66667" stroke="white" stroke-width="2" stroke-linecap="round" />
                        </svg>
                        <span class="text-title">Attendance System</span>
                    </div>
                    <div class="text-desc-container">
                        <p class="text-desc">Redefine event monitoring with TicketFlare's automated attendance tracking. Effortlessly monitor participant presence, ensuring accuracy and efficiency. Say goodbye to long queues and frustrating entry experiences – TicketFlare brings you a smooth and streamlined attendance system.</p>
                    </div>
                </div> <!--  end of text-three container -->

            </div> <!-- end of text-list-container-->

        </div> <!--  end of centralized -->
    </div> <!--  end of centralized container -->

    <div class="highlight-container">
        <div class="head-title-container">
            <h1 class="head-title"><span>WHAT WE HIGHLIGHT</span></h1>
        </div>

        <div class="rows-container">
            <div class="row-one-container">
                <div class="highlight-one-container">
                    <img src="~/images/about/megaphone.png">
                    <div class="text-title-container">
                        <span class="text-title">Event Posting</span>
                    </div>
                    <div class="text-desc-container">
                        <p class="text-desc">Unlock the power of quick and user-friendly event posting with TicketFlare. Elevate your event's visibility and attendance by leveraging a centralized platform for promotion. The streamlined posting process ensures that your events gain the attention they deserve, fostering increased participation and engagement.</p>
                    </div>
                </div>
                <div class="highlight-two-container">
                    <img src="~/images/about/message-heart.png">
                    <div class="text-title-container">
                        <span class="text-title">Feedback Forms</span>
                    </div>
                    <div class="text-desc-container">
                        <p class="text-desc">Empower your organization with valuable insights using TicketFlare's post-event feedback forms. Understand attendee satisfaction and gather suggestions effortlessly. This feature is not just about hosting events; it's about learning and improving, ensuring each event becomes a better experience than the last.</p>
                    </div>
                </div>
            </div> <!-- end of row-one container -->

            <div class="row-two-container">
                <div class="highlight-one-container">
                    <img src="~/images/about/wifi.png">
                    <div class="text-title-container">
                        <span class="text-title">Enhanced Communication</span>
                    </div>
                    <div class="text-desc-container">
                        <p class="text-desc">Elevate your events to new heights by fostering a sense of community through TicketFlare's interactive features, encouraging networking and collaboration among organizers and participants, ensuring a memorable and enriching event experience for all.</p>
                    </div>
                </div>

                <div class="highlight-two-container">
                    <img src="~/images/about/dart.png">
                    <div class="text-title-container">
                        <span class="text-title">Promotion of Univesity Culture</span>
                    </div>
                    <div class="text-desc-container">
                        <p class="text-desc">TicketFlare goes beyond events; it's a cultural showcase. Highlight the diversity of events within the university and strengthen the sense of community and campus culture. With TicketFlare, every event becomes a celebration of the unique tapestry that defines your university's vibrant culture.</p>
                    </div>
                </div>
            </div> <!-- end of row-two container -->
        </div> <!-- end of rows-container -->
    </div>

</div>