@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="landing-bg">
</div>

<div class="introduction-container" id="index-introduction">
    <div class="introduction-content standard-container ">
        <div class="introduction-text-container">
            <h1 class="introduction-text-title large-text"><span>IGNITE</span> YOUR CAMPUS EXPERIENCE!</h1>
            <p class="introduction-text-p">
                Experience the next level of campus event ticketing with TicketFlare, where convenience meets excitement! Our user-friendly platform aims to set your campus journey ablaze, making it easier than ever to secure your spot at every incredible activity and event.
                <br>
                <br>
                Seize the chance and immerse yourself in an exciting event expedition!
            </p>
        </div>
        <div class="introduction-images">
            <img src="~/images/intro-images.png" alt="">
        </div>
    </div>
</div>

<div class="standard-container">
    <div class="website-feature-container">
        <h1 class="website-feature-header large-text">DYNAMIC EVENT MANAGEMENT SUITE</h1>
        <div class="website-feature-content">
            <div class="website-feature-image">
                <img src="~/images/calendar-icon.png" alt="">
            </div>
            <div class="website-feature-text">
                <div class="feature">
                    <div class="feature-header">
                        <div class="svg-container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="37" height="34" viewBox="0 0 37 34" fill="none">
                                <path d="M22.6957 8.54452V6.16459C22.6957 5.53339 22.4182 4.92806 21.9241 4.48172C21.4301 4.03542 20.76 3.78467 20.0612 3.78467H17.4268" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M10.8408 25.204H4.25461C3.55589 25.204 2.88581 24.9532 2.39174 24.5069C1.89768 24.0607 1.62012 23.4553 1.62012 22.8241V6.16459C1.62012 5.53339 1.89768 4.92806 2.39174 4.48172C2.88581 4.03542 3.55589 3.78467 4.25461 3.78467H6.8891" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M33.2337 13.3044H20.0612C18.6063 13.3044 17.4268 14.37 17.4268 15.6844V29.9639C17.4268 31.2784 18.6063 32.3439 20.0612 32.3439H33.2337C34.6887 32.3439 35.8682 31.2784 35.8682 29.9639V15.6844C35.8682 14.37 34.6887 13.3044 33.2337 13.3044Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M18.3674 1.40479H6.51221L7.59235 5.26027C7.65816 5.51832 7.8192 5.74846 8.04904 5.91282C8.27887 6.07718 8.56376 6.166 8.8569 6.16464H16.0227C16.3159 6.166 16.6008 6.07718 16.8306 5.91282C17.0604 5.74846 17.2215 5.51832 17.2873 5.26027L18.3674 1.40479Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <g filter="url(#filter0_dd_167_881)">
                                    <path d="M22.6958 20.4441H30.5993" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                                <g filter="url(#filter1_dd_167_881)">
                                    <path d="M22.6958 25.2039H30.5993" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                            </svg>
                        </div>

                        <h3>Event Listing & Registration</h3>
                    </div>
                    <div class="feature-text">
                        <p>TicketFlare enables student organizers to create and list various campus activities, events, and programs. Students and attendees can easily browse through the comprehensive event listings, view event details, and register for the ones they are interested in attending.</p>
                    </div>
                </div>

                <div class="feature">
                    <div class="feature-header">
                        <div class="svg-container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="34" viewBox="0 0 42 34" fill="none">
                                <g clip-path="url(#clip0_167_888)">
                                    <path d="M11.6902 4.21582L10.6517 4.41725C10.7457 4.76127 10.7575 5.11758 10.6863 5.46545C10.615 5.81332 10.4623 6.14581 10.2368 6.44362C10.0113 6.74142 9.71767 6.99858 9.37291 7.20014C9.02816 7.40171 8.63916 7.54367 8.22856 7.61775C7.39593 7.76498 6.52784 7.63174 5.81083 7.24672C5.09382 6.8617 4.58515 6.25559 4.39415 5.55869L2.31718 5.91679C2.03234 5.96902 1.76307 6.06925 1.52562 6.21141C1.28817 6.35358 1.08747 6.53473 0.935659 6.74393C0.78384 6.95312 0.684052 7.186 0.642324 7.42852C0.600598 7.67102 0.617797 7.91813 0.692882 8.1549C0.692882 8.1549 1.65148 11.8926 2.76985 16.1002" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M31.6614 4.19353C31.5025 4.57039 31.2538 4.91617 30.931 5.20993C30.6083 5.50368 30.2179 5.73931 29.7836 5.90251C29.3493 6.06572 28.8799 6.15311 28.4043 6.1594C27.9285 6.16569 27.4564 6.09074 27.0162 5.93908C26.5758 5.78745 26.1769 5.56225 25.8432 5.27718C25.5096 4.99209 25.2483 4.65306 25.0752 4.28059C24.902 3.90813 24.8206 3.50999 24.836 3.11033C24.8513 2.71065 24.963 2.31775 25.1643 1.95542L23.0074 1.10493C22.4315 0.903197 21.7841 0.900504 21.2059 1.09744C20.6276 1.29438 20.165 1.67505 19.9186 2.15685L10.9717 19.8603L9.80003 22.0985C9.56003 22.5826 9.55681 23.1267 9.79111 23.6126C10.0254 24.0987 10.4783 24.4875 11.0515 24.6947L21.8624 28.5667C22.4384 28.7683 23.0857 28.771 23.664 28.5741C24.2423 28.3771 24.7048 27.9964 24.9513 27.5148L35.0698 7.50594C35.2929 7.04066 35.2991 6.52175 35.0866 6.05291C34.8744 5.58405 34.4595 5.19979 33.9248 4.97687L31.6614 4.19353Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_167_888">
                                        <rect width="41.0982" height="32.9352" fill="white" transform="translate(0.620117 0.95166)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <h3>Ticket Purchases</h3>
                    </div>
                    <div class="feature-text">
                        <p>The app provides a convenient platform for users to purchase event tickets online. It ensures a smooth, hassle-free ticket purchasing process, minimizing the need for physical tickets and reducing queues during events.</p>
                    </div>
                </div>

                <div class="feature">
                    <div class="feature-header">
                        <div class="svg-container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="27" viewBox="0 0 28 27" fill="none">
                                <g clip-path="url(#clip0_167_892)">
                                    <path d="M21.0403 1.50537H7.34089C4.09835 1.50537 1.46973 3.9949 1.46973 7.06587V20.0404C1.46973 23.1114 4.09835 25.6009 7.34089 25.6009H21.0403C24.2829 25.6009 26.9115 23.1114 26.9115 20.0404V7.06587C26.9115 3.9949 24.2829 1.50537 21.0403 1.50537Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M19.8996 9.38281L12.0713 18.6503L8.15723 15.8701" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_167_892">
                                        <rect width="27.3988" height="25.949" fill="white" transform="translate(0.491211 0.578613)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <h3>Event Listing & Registration</h3>
                    </div>
                    <div class="feature-text">
                        <p>TicketFlare assists students organizers in managing tickets, attendance, and validation. It validates tickets at event entry points, reducing the chances of counterfeit or duplicate tickets and ensuring a seamless check-in experience for attendees.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="event-gallery-container">
        <h1 class="event-gallery-header large-text">EVENT GALLERY</h1>
        <div class="event-gallery-card-container">
            <div class="event-card">
                <img src="~/images/events/trick-or-treat-2022.png" alt="">
                <div class="event-card-details">
                    <div class="event-date">
                        <p class="event-month">OCT</p>
                        <p class="event-day">29</p>
                    </div>
                    <div class="event-key-info">
                        <h3>TRICK OR TREAT 2022</h3>
                        <p class="xs-text"><span class="tangerine-text">Host:</span> CICT Student Government</p>
                        <p class="xs-text"><span class="tangerine-text">Time:</span> 1:00 PM - 6:00 PM</p>
                        <p class="xs-text"><span class="tangerine-text">Venue:</span> CICT Building</p>
                    </div>
                </div>
            </div>
            <div class="event-card">
                <img src="~/images/events/trick-or-treat-2022.png" alt="">
                <div class="event-card-details">
                    <div class="event-date">
                        <p class="event-month">OCT</p>
                        <p class="event-day">29</p>
                    </div>
                    <div class="event-key-info">
                        <h3>TRICK OR TREAT 2022</h3>
                        <p class="xs-text"><span class="tangerine-text">Host:</span> CICT Student Government</p>
                        <p class="xs-text"><span class="tangerine-text">Time:</span> 1:00 PM - 6:00 PM</p>
                        <p class="xs-text"><span class="tangerine-text">Venue:</span> CICT Building</p>
                    </div>
                </div>
            </div>
            <div class="event-card">
                <img src="~/images/events/trick-or-treat-2022.png" alt="">
                <div class="event-card-details">
                    <div class="event-date">
                        <p class="event-month">OCT</p>
                        <p class="event-day">29</p>
                    </div>
                    <div class="event-key-info">
                        <h3>TRICK OR TREAT 2022</h3>
                        <p class="xs-text"><span class="tangerine-text">Host:</span> CICT Student Government</p>
                        <p class="xs-text"><span class="tangerine-text">Time:</span> 1:00 PM - 6:00 PM</p>
                        <p class="xs-text"><span class="tangerine-text">Venue:</span> CICT Building</p>
                    </div>
                </div>
            </div>
            <div class="event-card">
                <img src="~/images/events/trick-or-treat-2022.png" alt="">
                <div class="event-card-details">
                    <div class="event-date">
                        <p class="event-month">OCT</p>
                        <p class="event-day">29</p>
                    </div>
                    <div class="event-key-info">
                        <h3>TRICK OR TREAT 2022</h3>
                        <p class="xs-text"><span class="tangerine-text">Host:</span> CICT Student Government</p>
                        <p class="xs-text"><span class="tangerine-text">Time:</span> 1:00 PM - 6:00 PM</p>
                        <p class="xs-text"><span class="tangerine-text">Venue:</span> CICT Building</p>
                    </div>
                </div>
            </div>
            <div class="event-card">
                <img src="~/images/events/trick-or-treat-2022.png" alt="">
                <div class="event-card-details">
                    <div class="event-date">
                        <p class="event-month">OCT</p>
                        <p class="event-day">29</p>
                    </div>
                    <div class="event-key-info">
                        <h3>TRICK OR TREAT 2022</h3>
                        <p class="xs-text"><span class="tangerine-text">Host:</span> CICT Student Government</p>
                        <p class="xs-text"><span class="tangerine-text">Time:</span> 1:00 PM - 6:00 PM</p>
                        <p class="xs-text"><span class="tangerine-text">Venue:</span> CICT Building</p>
                    </div>
                </div>
            </div>
            <div class="event-card">
                <img src="~/images/events/trick-or-treat-2022.png" alt="">
                <div class="event-card-details">
                    <div class="event-date">
                        <p class="event-month">OCT</p>
                        <p class="event-day">29</p>
                    </div>
                    <div class="event-key-info">
                        <h3>TRICK OR TREAT 2022</h3>
                        <p class="xs-text"><span class="tangerine-text">Host:</span> CICT Student Government</p>
                        <p class="xs-text"><span class="tangerine-text">Time:</span> 1:00 PM - 6:00 PM</p>
                        <p class="xs-text"><span class="tangerine-text">Venue:</span> CICT Building</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="load-more-btn pill-box">
            <p>Load More</p>
        </div>
    </div>

</div>
